/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit; 
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1, .game-description, .game-play, .social {
  text-align: center;
  margin: auto;
  width: 80%;
}

h1 {
  font-size:20px;
  margin-bottom: 5px;
  margin-top: 10px;
}

.game-description {
  display: block;
  padding: 3px;
  font-size: 15px;
  font-style: italic;
  margin-top: 10px;
  margin-bottom: 5px
}
.game-description .detail {
  display: block;
  padding: 3px;
  font-size: 10px;
  color:grey;
  font-style: italic;
}


table {
  text-align: center;
  margin: auto;
  margin-top: 20px;
  padding: 5px;
}

table .turn {
  color: grey;
  font-size: 12px;
  padding: 1px;
  margin: 0;
  font-style: normal;
}

th, tr, td {
  padding:5px;
  border-bottom: 1px solid grey;
  padding-top: 5px;
  padding-bottom: 5px;
}

th {
  color: grey;
}

button {
  padding-left:4px;
  padding-right:4px;
  margin:4px;
  width: 60px;
  background-color: #fff;
  border: 2px solid green;
  border-radius: 4px;
  cursor: pointer; 
  cursor: hand;
}

button:hover {
  background-color: green;
  color: white;
}


input {
  margin: auto;
  display: block;
  /*color: #28aadc;*/
  background-color: #fff;
  border: 2px solid grey;
  border-radius: 4px;
}

input:focus{
  outline: none;
  border: 2px solid #2D3496;
  border-radius: 4px;
}

#game-win, #game-loss {
  font-size: 30px
}

#game-win .answear {
  color:green;
  display: block;
}

#game-loss .answear {
  color:red;
  display:block;
}

.hints {
  color: green;
  margin-bottom: 5px;
  font-style: normal;
  padding-top: 8px
}

#new-game {
  margin-top: 15px:;
  width: 80px;
}

.links {
  font-size: 8px;
  padding: 4px;
  display: block;
}
#turn {
  display:block;
  padding:5px;
}
